html,
body,
#root,
.className{
  height: 100%;
  margin: 0;
  text-align: center;
  background-color: antiquewhite;
}
.room {
  height: 100%;
  margin: 0;
}
.lit {
  background-color: white;
  color: black;
}
.dark {
  background-color: black;
  color: white;
}
